html,body { 
	margin: 0; 
	padding: 0; 
	height: 100%; 
	width: 100%; 
}

.wait {
	background-color: black;
	color: white;
}

.ready {
	background-color: black;
	color: white;
}

.click {
	background-color: white;	
	color: black;
}

.clicked {
	background-color: white;
	color: green;
}

#main {
	width:100%;
	height:100%;	
	overflow:hidden;
	text-align: center;
	vertical-align: middle;
	font-size: 120px;
}
